#logo {
  max-width: 150px;
  max-height: 100px;
}

.portfolio-item img {
  max-height: 400px;
  max-width: 400px;
}

#bio {
  padding: 50px;
  vertical-align: center;
  overflow: auto;
}

h3 {
  font-size: 30px;
}
